    <link rel="shortcut icon" href="{{.Site.BaseURL}}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{.Site.BaseURL}}images/apple-touch-icon.png" />
    
    <link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}fonts/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/solarized_dark.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/screen.css" />
