{{ partial "header.html" . }}

<header class="main-header">
	<!--
	 <nav class="main-nav overlay clearfix">
	 <a class="menu-button" href="#"><span class="burger">&#9776;</span></a>
	 </nav> -->
	 <div class="vertical">
		 <div class="main-header-content inner">
			 <img class="blog-logo" src="{{ .Site.BaseURL }}{{.Site.Params.logo}}" alt="Multivac" />
			 <br>
			 <span class="page-title">
				 <h1>&nbsp;{{ .Site.Title }}</h1>
			 </span>
			 <h2 class="page-description">{{ .Site.Params.description }}</h2>
			 <br>
			 <br>
			 <!--<a class="title-link" href="#">quickstart</a>
			<a class="title-link" href="#">docs</a>
			<a class="title-link" href="#">github</a> -->
		 </div>
	 </div>
	 <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>

</header>

<main id="content" class="content content-light" role="main">
<div class="post-content">
	<h2 class="wow fadeIn" data-wow-delay=".9s">ChatOps, simplified</h2>

	<div id="feature-box">
		<a class="feature-dark wow fadeIn" data-wow-delay=".4s" href="javascript:update_tron('tron1')">
			<i class="fa fa-plus fa-3x"></i>
			<p>Drop-in Commands</p>
		</a>

		<a class="feature-light wow fadeIn" data-wow-delay=".5s" href="javascript:update_tron('tron2')">
			<i class="fa fa-cogs fa-3x wow fadeIn"></i>
			<p>Featureful API</p>
		</a>

		<a class="feature-dark wow fadeIn" data-wow-delay=".6s" href="javascript:update_tron('tron3')">
			<i class="fa fa-dashboard fa-3x wow fadeIn"></i>
			<p>Real-time Dashboard</p>
		</a>

		<a class="feature-light wow fadeIn" data-wow-delay=".7s" href="javascript:update_tron('tron4')">
			<i class="fa fa-terminal fa-3x wow fadeIn"></i>
			<p>CLI Interface</p>
		</a>

	</div>

	<div id="tron-box">
		<div id="tron0" class="tron">
			<img style="padding: 4em; width: 25%; opacity: 0.4;" src="images/logo_grey.png" />
		</div>

		<div id="tron1" class="tron">
			<h2>Use your existing scripts</h2>
			<pre><img src="images/actions.png"></img></pre>
			<hr>
			<p>Add your existing scripts as Multivac action commands to make Slack a complete DevOps platform; extending functionality with a growing set of features:</p>
			<li>Output streaming</li>
			<li>Job result summary</li>
			<li>Command confirmation</li>
			<li>Access lists</li>
			<li>Log Retention</li>
			<li>Docker containers-as-commands</li>
		</div>
		<div id="tron2" class="tron">
			<h2>Extensible API</h2>
			<pre><img src="images/api.png"></img></pre>
			<p>Further automate and build on Multivac with a full-featured web API.<br>
			Full documentation can be found <a href="http://multivac.vektor.nyc/api.html">here</a></p>
		</div>
		<div id="tron3" class="tron">
			<h2>Dashboard</h2>
			<pre><img src="images/webui.png"></img></pre>
			<p>Monitor real-time activity across all channels, review logs of previous commands and manually trigger actions via Multivacs included dashboard</p>
		</div>
		<div id="tron4" class="tron">
			<h2>Multivac CLI</h2>
			<pre><img src="images/cli.png"></img></pre>
			<p>Develop, test and troubleshoot easily with the included CLI interface to talk directly to Multivac from your terminal!</p>
		</div>
	</div>

</div>
</main>

<main id="content2" class="content content-dark" role="main">
<div class="post-content">
	<h2 class="wow fadeIn" data-wow-delay=".9s">Get Started</h2>
	<a class="exlink wow fadeIn" data-wow-delay=".1s" href="https://github.com/vektorlab/multivac#quickstart">
		<i class="fa fa-rocket fa-3x wow fadeIn"></i>
		<br>Quickstart
	</a>
	<a class="exlink wow fadeIn" data-wow-delay=".2s" href="http://multivac.vektor.nyc/index.html">
		<i class="fa fa-book fa-3x wow fadeIn"></i>
		<br>Documentation
	</a>
	<a class="exlink wow fadeIn" data-wow-delay=".3s" href="https://github.com/vektorlab/multivac">
		<i class="fa fa-github fa-3x wow fadeIn"></i>
		<br>Github
	</a>
</div>
</main>

{{ partial "footer.html" . }}
