{{ partial "header.html" . }}

{{if .Site.Params.cover}}
<header class="main-header " style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">

  {{else}}
  <header class="main-header no-cover">
    {{end}}

    <nav class="main-nav overlay clearfix">
      <a class="menu-button" href="#"><span class="burger">&#9776;</span></a>
    </nav>
    <div class="vertical">
      <div class="main-header-content inner">
        <img class="blog-logo" src="{{ .Site.BaseURL }}{{.Site.Params.logo}}" alt="Multivac" />
        <span class="page-title">
          <h1>
            <a class="btn-bootstrap-2 title-scroll" href="#content">{{ .Site.Title }}</a>
          </h1>
          <h2 class="page-description">{{ .Site.Params.description }}</h2>
          <br>
          <br>
          <!--<a class="title-link" href="#">quickstart</a>
            <a class="title-link" href="#">docs</a>
            <a class="title-link" href="#">github</a> -->
        </span>
      </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>

  </header>

  <main id="content" class="content" role="main">
  <div class="post-content">
    <h2 class="wow fadeIn" data-wow-delay=".9s">ChatOps, simplified</h2>

    <a href="javascript:update_tron('tron1')">
      <div id="feature-box" class="feature-dark wow fadeIn" data-wow-delay=".4s">
        <i class="fa fa-terminal fa-3x"></i>
        <br><p>Use your existing scripts</p>
      </div>
    </a>

    <a href="javascript:update_tron('tron2')">
      <div id="feature-box" class="feature-light wow fadeIn" data-wow-delay=".5s">
        <i class="fa fa-cogs fa-3x wow fadeIn"></i>
        <br><p>Full-featured API</p>
      </div>
    </a>

    <a href="javascript:update_tron('tron3')">
      <div id="feature-box" class="feature-dark wow fadeIn" data-wow-delay=".6s">
        <i class="fa fa-dashboard fa-3x wow fadeIn"></i>
        <br><p>Built-in dashboard</p>
      </div>
    </a>

    <a href="javascript:update_tron('tron4')">
      <div id="feature-box" class="feature-light wow fadeIn" data-wow-delay=".7s">
        <i class="fa fa-github fa-3x wow fadeIn"></i>
        <br><p>Open Source</p>
      </div>
    </a>

    <div id="tron-box">
      <div id="tron0" class="tron">
        <img style="padding-top: 7em; opacity: 0.4;" src="images/logo_grey.png" />
      </div>

      <div id="tron1" class="tron">
        <pre style="max-width: 45%;"><img src="images/actions.png"></img></pre>
        <pre style="max-width: 45%;"><img src="images/actions2.png"></img></pre>
        <hr>
        <p>Easily configurable Multivac action commands use your existing scripts to make Slack your new platform for DevOps</p>
        <p>Extend the functionality of your action commands with output streaming or summary, command confirmation, and access lists for restricting commands to users or groups</p>
      </div>
      <div id="tron2" class="tron">2</div>
      <div id="tron3" class="tron">
        <pre style="width: 80%;"><img src="images/webui.png"></img></pre>
        <p>Multivac ships with a built-in WebUI to monitor real-time activity across all channels, review full output logs of previous commands, and manually trigger Multivac actions.</p>
      </div>
      <div id="tron4" class="tron">4</div>
    </div>

  </div>
  </main>

  {{ partial "footer.html" . }}
